<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/tables.css" />
<link rel="stylesheet" type="text/css" href="/static/css/autoSuggest.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/tnpl.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/sonic.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/jquery.autoSuggest.js"></script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function startSpinner(container) {
	container.width(80);
	var height = container.height();
	var width = container.width();
	var spinner = new Sonic({
		width: width,
		height: height,
		stepsPerFrame: 1,
		trailLength: 0.25,
		pointDistance: .05,
		fps: 15,
		padding: 0,

		fillColor: '#555',

		setup: function() {
			this._.lineWidth = height-2;
		},

		path: [
			['line', 2, height/2, width-2, height/2],
			['line', width-2, height/2, 2, height/2]
		]
	});
	spinner.play();
	container.append(spinner.canvas);
	return spinner;
}

function dollarString(dollar_val) {
	var text = '';
	if (dollar_val < 0.0) {
		var text = '-$';
	} else {
		var text = '$';
	}
	text += Math.abs(dollar_val).toFixed(2);
	return text;
}

 $(function() {
	/* For zebra striping */
	$("table tr:nth-child(odd)").addClass("odd-row");
	/* For cell text alignment */
	$("table td:first-child, table th:first-child").addClass("first");
	/* For removing the last border */
	$("table td:last-child, table th:last-child").addClass("last");

	$("#id_salary").change(function() {
		console.log("changed");
		$("#ownership_form_status").text('').hide();
	});
	$("#id_team").change(function() {
		console.log("changed");
		$("#ownership_form_status").text('').hide();
	});

	$("#ownership_form").submit(function() {
		$(this).ajaxSubmit({
			success: function() {
				console.log("success");
				$("#ownership_form_status").text("saved").show();
			},
			error: function() {
				console.log("error");
				$("#ownership_form_status").text("error").show();
			}
		});
		return false;
	});

        $.ajaxSetup({
                crossDomain: false,
                beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
        });

	var seasons = {{seasons|safe}};
	var projections = {{projections|safe}};
	var playerid = {{id|escapejs}};

	var seasons_table = $("#seasons_table");
	seasons.forEach(function(season) {
		var row = $("<tr />");
		$("<td />")
			.addClass("left-border")
			.text(season['year'])
			.appendTo(row);
		var era = season['ER'] / (season['IP'] / 9.0);
		var era_text = era.toFixed(3) + ' (' +
			season['IP'].toFixed(1) + ')';
		$("<td />")
			.addClass("left-border")
			.text(era_text)
			.appendTo(row);
		var era_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
                var whip = (season['H'] + season['BB']) / season['IP'];
                var whip_text = whip.toFixed(3) + ' (' +
                                season['IP'].toFixed(1) + ')';
		$("<td />")
			.addClass("left-border")
			.text(whip_text)
			.appendTo(row);
		var whip_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		$("<td />")
			.addClass("left-border")
			.text(season['W'])
			.appendTo(row);
		var w_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		$("<td />")
			.addClass("left-border")
			.text(season['K'])
			.appendTo(row);
		var k_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		$("<td />")
			.addClass("left-border")
			.text(season['S'])
			.appendTo(row);
		var s_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		var total_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		row.appendTo(seasons_table);
		var era_spinner = startSpinner(era_dollar_td);
		var whip_spinner = startSpinner(whip_dollar_td);
		var w_spinner = startSpinner(w_dollar_td);
		var k_spinner = startSpinner(k_dollar_td);
		var s_spinner = startSpinner(s_dollar_td);
		var total_spinner = startSpinner(total_dollar_td);
		$.ajax({
			url: "/form/player_dollar_value",
			dataType: "json",
			data: {playerid: {{id|escapejs}},
			       dataset: season['year'],
			       is_pitcher: false},
			type: "POST",
			success: function(val) {
				era_spinner.stop();
				era_dollar_td.text(dollarString(val.ERA));
				whip_spinner.stop();
				whip_dollar_td.text(dollarString(val.WHIP));
				w_spinner.stop();
				w_dollar_td.text(dollarString(val.W));
				k_spinner.stop();
				k_dollar_td.text(dollarString(val.K));
				s_spinner.stop();
				s_dollar_td.text(dollarString(val.S));
				total_spinner.stop();
				total_dollar_td.text(dollarString(val.total));
			},
			error: function(val) {
				console.log("error");
			}
		});
	});

	var proj_table = $("#projections_table");
	projections.forEach(function(proj) {
		var row = $("<tr />");
		var type_td = $("<td />")
			.addClass("left-border")
			.appendTo(row);
		type_td.append($("<span />").text(proj['type']));
		var era = proj['ER'] / (proj['IP'] / 9.0);
		var era_text = era.toFixed(3) + ' (' +
			proj['IP'].toFixed(1) + ')';
		var era_td = $("<td />")
			.addClass("left-border")
			.text(era_text)
			.appendTo(row);
		var era_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
                var whip = (proj['H'] + proj['BB']) / proj['IP'];
                var whip_text = whip.toFixed(3) + ' (' +
                                proj['IP'].toFixed(1) + ')';
		var whip_td = $("<td />")
			.addClass("left-border")
			.text(whip_text)
			.appendTo(row);
		var whip_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		var w_td = $("<td />")
			.addClass("left-border")
			.text(proj['W'])
			.appendTo(row);
		var w_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		var k_td = $("<td />")
			.addClass("left-border")
			.text(proj['K'])
			.appendTo(row);
		var k_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		var s_td = $("<td />")
			.addClass("left-border")
			.text(proj['S'])
			.appendTo(row);
		var s_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);
		var total_dollar_td = $("<td />")
			.addClass("right-border")
			.appendTo(row);

		if (proj.editable) {
			var edit_link = $('<a />')
					.css('padding-left', '10px')
					.attr('href', '#')
					.text('edit')
					.appendTo(type_td);
			edit_link.click(function() {
				era_td.empty();
				era_dollar_td.empty();
				whip_td.empty();
				whip_dollar_td.empty();
				w_td.empty();
				w_dollar_td.empty();
				k_td.empty();
				k_dollar_td.empty();
				s_td.empty();
				s_dollar_td.empty();
				total_dollar_td.empty();
				var era_in = $('<input />')
						.css('width', '3em')
						.val(era.toFixed(3));
				era_td.append(era_in);
				ip_in = $('<input />')
						.css('width', '3em')
						.val(proj['IP'].toFixed(1));
				era_dollar_td.append(ip_in);
				var whip_in = $('<input />')
						.css('width', '3em')
						.val(whip.toFixed(3));
				whip_td.append(whip_in);
				var w_in = $('<input />')
						.css('width', '2em')
						.val(proj['W']);
				w_td.append(w_in);
				var k_in = $('<input />')
						.css('width', '2em')
						.val(proj['K']);
				k_td.append(k_in);
				var s_in = $('<input />')
						.css('width', '2em')
						.val(proj['S']);
				s_td.append(s_in);
				edit_link.text('submit')
					.unbind('click')
					.click(function() {
					var data = {
						type: proj.type,
						player: playerid,
						ERA: era_in.val(),
						IP: ip_in.val(),
						WHIP: whip_in.val(),
						W: w_in.val(),
						K: k_in.val(),
						S: s_in.val()
					};
					$.ajax({
						url: "/form/update_pitching_proj",
						dataType: "json",
						data: data,
						type: "POST",
						success: function(val) {
							location.reload();
						},
						error: function(val) {
							location.reload();
						}
					});
				});
			});
		}

		row.appendTo(proj_table);
		var era_spinner = startSpinner(era_dollar_td);
		var whip_spinner = startSpinner(whip_dollar_td);
		var w_spinner = startSpinner(w_dollar_td);
		var k_spinner = startSpinner(k_dollar_td);
		var s_spinner = startSpinner(s_dollar_td);
		var total_spinner = startSpinner(total_dollar_td);
		$.ajax({
			url: "/form/player_dollar_value",
			dataType: "json",
			data: {playerid: {{id|escapejs}},
			       dataset: 'proj_' + proj['type'],
			       is_pitcher: false},
			type: "POST",
			success: function(val) {
				era_spinner.stop();
				era_dollar_td.text(dollarString(val.ERA));
				whip_spinner.stop();
				whip_dollar_td.text(dollarString(val.WHIP));
				w_spinner.stop();
				w_dollar_td.text(dollarString(val.W));
				k_spinner.stop();
				k_dollar_td.text(dollarString(val.K));
				s_spinner.stop();
				s_dollar_td.text(dollarString(val.S));
				total_spinner.stop();
				total_dollar_td.text(dollarString(val.total));
			},
			error: function(val) {
				console.log("error");
			}
		});
	});
        $("#search").autoSuggest("/form/player_search", {
                minChars: 2,
                matchCase: false,
                selectedItemProp: "name",
                selectedValuesProp: "id",
                searchObjProps: "name",
                resultClick: function(data) {
                        console.log("data: " + data);
                        window.location.href = "/player/" + data.attributes.id + "/";
                }
        });

});

</script>
<style type="text/css">
        .left-border {
                border-left-style: solid;
                border-left-width: 1px;
                padding-left: 5px;
                text-align: left;
        }
        .right-border {
                border-right-style: solid;
                border-right-width: 1px;
                padding-right: 5px;
                text-align: right;
        }

        th.left-border.right-border {
                text-align:center;
        }
</style>
</head>
<body>
<div class="container_12">
        <div class="grid_4"><input id="search" type="text" /></div>
	<div class="grid_4 prefix_4">
	<form action="/form/player_ownership" method="post" id="ownership_form">{% csrf_token %}
	<table>
		{{ ownership_form.as_table }}
		<tr>
			<th></th>
			<td><input type="submit" value="Submit" /></td>
		</tr>
	</table>
	</form>
	<div id="ownership_form_status" style="display:none;"></div>
	</div>
</div>
<div class="container_12">
<div class="grid_6">
<h1>{{ name }}</h1>
<h2>
{% if team %}
	{{ team }}
{% else %}
	Unknown Team
{% endif %}
</h2>
Bats: {{ bats }} Throws: {{ throws }}</br>
Age: {{ age }} ({{ birthdate }})</br>
Position:
{% for pos in eligibility %}
 {{ pos }}&nbsp;
{% endfor %}
</br>
</div>
<div class="clear"></div>
<div class="grid_12">
<h2>Seasons</h2>
<table id="seasons_table">
<tr>
<th class="left-border">Year</th>
<th colspan=2 class="left-border right-border">ERA</th>
<th colspan=2 class="left-border right-border">WHIP</th>
<th colspan=2 class="left-border right-border">W</th>
<th colspan=2 class="left-border right-border">K</th>
<th colspan=2 class="left-border right-border">S</th>
<th class="right-border">Total</th>
</table>
</div>
<div class="clear"></div>
<div class="grid_12">
<h2>Projections</h2>
<table id="projections_table">
<tr>
<th class="left-border">Type</th>
<th colspan=2 class="left-border right-border">ERA</th>
<th colspan=2 class="left-border right-border">WHIP</th>
<th colspan=2 class="left-border right-border">W</th>
<th colspan=2 class="left-border right-border">K</th>
<th colspan=2 class="left-border right-border">S</th>
<th class="right-border">Total</th>
</table>
</div>
<div class="clear"></div>

</div>
</body>
</html>
