<a href="/players/">U</a>
<a href="/players/position/c/">C</a>
<a href="/players/position/1b/">1b</a>
<a href="/players/position/2b/">2b</a>
<a href="/players/position/3b/">3b</a>
<a href="/players/position/ss/">ss</a>
<a href="/players/position/of/">of</a>

<table>
<tr>
<td>Name</td>
<td>Team</td>
<td>Salary</td>
<td>Projected Value</td>
</tr>
	{% for player in players %}
		<tr>
		<td><a href="/player/{{ player.lahmanid }}/">{{ player.namefirst }} {{ player.namelast }}</a></td>
		{% if player.ownership %}
			<td>{{ player.ownership.team }}</td>
			<td>${{ player.ownership.salary|floatformat:2 }}</td>
		{% else %}
			<td>Free Agent</td><td></td>
		{% endif %}
		<td>{{ player.projected_val|floatformat:0 }}</td>
	{% endfor %}
</table>
